name: Deploy to Server

on:
  push:
    branches:
      - main
      - develop
      - dev1
      - dev2

jobs:
  deploy_prod:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: Check if all secrets are set
        run: |
          if [ -z "${{ secrets.SSH_PROD_HOST }}" ]; then
            echo "❌ Secret SSH_PROD_HOST is empty or not set!"
            exit 1
          fi

          if [ -z "${{ secrets.SSH_PROD_USER }}" ]; then
            echo "❌ Secret SSH_PROD_USER is empty or not set!"
            exit 1
          fi

          if [ -z "${{ secrets.SSH_KEY }}" ]; then
            echo "❌ Secret SSH_KEY is empty or not set!"
            exit 1
          fi

          if [ -z "${{ secrets.SSH_PORT }}" ]; then
            echo "❌ Secret SSH_PORT is empty or not set!"
            exit 1
          fi

      - name: Prod Update from main branch
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SSH_PROD_HOST }}
          username: ${{ secrets.SSH_PROD_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          debug: true
          script: |
            cd /home/contrukted
            git pull

  deploy_gw4:
    if: github.ref == 'refs/heads/develop'
    runs-on: ubuntu-latest

    steps:
      - name: Check if all secrets are set
        run: |
          if [ -z "${{ secrets.SSH_GW4_HOST }}" ]; then
            echo "❌ Secret SSH_GW4_HOST is empty or not set!"
            exit 1
          fi

          if [ -z "${{ secrets.SSH_GW4_USER }}" ]; then
            echo "❌ Secret SSH_GW4_USER is empty or not set!"
            exit 1
          fi

          if [ -z "${{ secrets.SSH_KEY }}" ]; then
            echo "❌ Secret SSH_KEY is empty or not set!"
            exit 1
          fi

          if [ -z "${{ secrets.SSH_PORT }}" ]; then
            echo "❌ Secret SSH_PORT is empty or not set!"
            exit 1
          fi

      - name: GW4 Update from develop branch
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_GW4_HOST }}
          username: ${{ secrets.SSH_GW4_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          debug: true
          script: |

  deploy_dev1:
    if: github.ref == 'refs/heads/dev1'
    runs-on: ubuntu-latest

    steps:
      - name: Check if all secrets are set
        run: |
          if [ -z "${{ secrets.SSH_DEV1_HOST }}" ]; then
            echo "❌ Secret SSH_DEV1_HOST is empty or not set!"
            exit 1
          fi

          if [ -z "${{ secrets.SSH_DEV1_USER }}" ]; then
            echo "❌ Secret SSH_DEV1_USER is empty or not set!"
            exit 1
          fi

          if [ -z "${{ secrets.SSH_KEY }}" ]; then
            echo "❌ Secret SSH_KEY is empty or not set!"
            exit 1
          fi

          if [ -z "${{ secrets.SSH_PORT }}" ]; then
            echo "❌ Secret SSH_PORT is empty or not set!"
            exit 1
          fi

      - name: Dev1 Update from dev1 branch
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SSH_DEV1_HOST }}
          username: ${{ secrets.SSH_DEV1_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          debug: true
          script: |
            cd /home/dev01con
            git pull

  deploy_dev2:
    if: github.ref == 'refs/heads/dev2'
    runs-on: ubuntu-latest

    steps:
      - name: Check if all secrets are set
        run: |
          if [ -z "${{ secrets.SSH_DEV2_HOST }}" ]; then
            echo "❌ Secret SSH_DEV2_HOST is empty or not set!"
            exit 1
          fi

          if [ -z "${{ secrets.SSH_DEV2_USER }}" ]; then
            echo "❌ Secret SSH_DEV2_USER is empty or not set!"
            exit 1
          fi

          if [ -z "${{ secrets.SSH_KEY }}" ]; then
            echo "❌ Secret SSH_KEY is empty or not set!"
            exit 1
          fi

          if [ -z "${{ secrets.SSH_PORT }}" ]; then
            echo "❌ Secret SSH_PORT is empty or not set!"
            exit 1
          fi
      - name: Dev2 Update from dev2 branch
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SSH_DEV2_HOST }}
          username: ${{ secrets.SSH_DEV2_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          debug: true
          script: |
            cd /home/dev02con
            git pull
